{
    ViewData["Title"] = "Index";
}

<form method="post" asp-controller="Teste" asp-action="Index">
    <label>Name</label>
    <input name="name" id="name" type="text">

    <label>Password</label>
    <input name="password" id="password" type="text">

    <input type="submit" value="submit">
</form>